.banner-container {
    background-color: transparent;
    background-image: url(/img/Background\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans', sans-serif;
}
.MD,#new1{
    font-family: 'Carter One', cursive;
    margin:auto;
    text-transform: capitalize;
   background-color: antiquewhite;
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.banner-column {
    background-color: rgba(248, 248, 248, 0.616);

}

.about-container {
    background-color: rgba(0, 102, 255, 0.745)
}

.banner-column {
    background-color: transparent;

}

.education-container {
    background-color: rgb(106, 17, 67);
}

.text {
    color: rgb(255, 255, 255);
}
.row .row .row {
    height: 100vh;
    display: flex;
    border-radius: 50%;

}

.card{
    background-color: blanchedalmond;
}
.project-container{
    background-color: rgba(238, 113, 18, 0.851);
}